.filterWrapper {
  padding: 0 20px;
  background: #ffffff;
  border-radius: 12px;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  width: 275px;
  .filterBtnDelete {
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
    color: #4d608d;
  }
}
