$--color-white: #fff;
$--color-black: #000;
$--color-blue: #409eff;
$--color-indigo: #6610f2;
$--color-purple: #6f42c1;
$--color-pink: #e83e8c;
$--color-red: #f56c6c;
$--color-orange: #e6a23c;
$--color-yellow: #ffc107;
$--color-green: #67c23a;
$--color-teal: #20c997;
$--color-cyan: #69c7e4;

$--color-primary: #1a2542;
$--color-secondary: #fe843d;
$--color-light: #ffffff;
$--color-dark: #221f20;

$--color-success: #00d26d;
$--color-danger: #cc4a4a;
$--color-warning: #e6a23c;
$--color-info: #909399;
$--color-gray: #6c757d;

$--color-facebook: #3b5998;
$--color-facebook-darker: #2b457e;
