.form {
  display: flex;
  :global {
    .ant-form-item-label
      > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
      position: absolute;
      right: -15px;
    }
    .ant-form-item .ant-select,
    .ant-form-item .ant-cascader-picker {
      height: 40px;
    }
    .ant-form-item-with-help .ant-form-item-explain {
      display: none;
    }
    .ant-picker-input {
      height: 30px;
    }
    .ant-form-item-label {
      text-align: left;
    }
    .ant-form-item-label > label {
      font-size: 16px;
      color: #ffff;
    }
    .ant-form-item-required::after,
    .ant-form-item-label > label::after {
      content: none;
    }
  }
}
