.navbarWrapper {
  :global {
    .ant-input-affix-wrapper-lg {
      border-radius: 40px;
    }
    .ant-input-affix-wrapper-lg,
    .ant-input {
      width: 288px;
      background-color: #f3f3f3;
    }
    .ant-input-affix-wrapper-lg > input.ant-input:focus,
    .ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover,
    .ant-input-affix-wrapper:focus,
    .ant-input-affix-wrapper-focused,
    .ant-input-affix-wrapper {
      border: none;
      box-shadow: none;
    }
  }
}
